<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmpBC647A18D3A9561236B9803E15E14E2B" Guid="{06CAD052-5953-404E-9B68-DDCF84D6EF69}">
                <File Id="filB96D169D724AD878D1F3F8D392C77726" KeyPath="yes" Source="$(var.SourceDir)\create_shortcuts.vbs" />
            </Component>
            <Component Id="cmp2CD06D85712105D7F5156BF1A0845776" Guid="{7E60B200-2019-477D-87BB-CA80306490E4}">
                <File Id="fil12B2920321B02E61D60257FD35C20C55" KeyPath="yes" Source="$(var.SourceDir)\desktop_drop_plugin.dll" />
            </Component>
            <Component Id="cmp012F7070E69EFF4320E139815882BEE5" Guid="{E6BB0E78-6DE2-4F0D-B88C-3E48FEF5ECDA}">
                <File Id="fil5992837D8A9571091EE1A787CDCADF72" KeyPath="yes" Source="$(var.SourceDir)\desktop_multi_window_plugin.dll" />
            </Component>
            <Component Id="cmpE625E77F522637C094C5867D5E084A27" Guid="{DD2A2BD0-4A28-47F6-B205-4F6E808BE3E4}">
                <File Id="fil31401CE1FB9E3C72D10B649266643710" KeyPath="yes" Source="$(var.SourceDir)\file_selector_windows_plugin.dll" />
            </Component>
            <Component Id="cmpF6746A9DA97FD0A8BEB6B4AD93DBAF2E" Guid="{EF54E69B-AFCB-4B9E-B54E-FD08F1BE0621}">
                <File Id="filD89D2545FB955250CD54C31C12210288" KeyPath="yes" Source="$(var.SourceDir)\flutter_custom_cursor_plugin.dll" />
            </Component>
            <Component Id="cmp56CF220A0F2463F9A5E85A05D1E79C99" Guid="{111B3C8E-61E0-43D1-BE9F-03D254A76CAA}">
                <File Id="fil6947FF6A042A37A7B25BEE11BB9C0625" KeyPath="yes" Source="$(var.SourceDir)\flutter_gpu_texture_renderer_plugin.dll" />
            </Component>
            <Component Id="cmpDC22F85144003CB2F05080B8CF79FC46" Guid="{F68602DC-99CC-40D7-BB98-08667AFAF095}">
                <File Id="fil230F9A11CF93D3D1A94FAA7A9D69118F" KeyPath="yes" Source="$(var.SourceDir)\flutter_windows.dll" />
            </Component>
            <Component Id="cmp6008A86AE138BD45314608B385266AA3" Guid="{202CC02D-049F-4288-8086-E8CB58F4D2B8}">
                <File Id="fil1903E10C302552AF0F25292D924A8B57" KeyPath="yes" Source="$(var.SourceDir)\icon.ico" />
            </Component>
            <Component Id="cmpFC51E889A92B742B5F953C34F614A7BE" Guid="{1C409672-763A-4CEA-AD4F-AC3B6F489CDB}">
                <File Id="filDA3C8FD35FE49EE79863157620936557" KeyPath="yes" Source="$(var.SourceDir)\librustdesk.dll" />
            </Component>
            <Component Id="cmp8C7A5EF348AC51FD578F34C2A1C2B80F" Guid="{CBEFC9C3-4FCD-4D7D-B370-AC5CF2CF7944}">
                <File Id="fil4B0AFCCFBBFE932B7A12C8ACC5D65BAF" KeyPath="yes" Source="$(var.SourceDir)\remove_shortcuts.vbs" />
            </Component>
            
            <Component Id="cmpE1F819E9F0DE12052216D6D9563E4EF5" Guid="{C1C9853E-A366-44A4-AF4A-5CA708EF7007}">
                <File Id="fil7B3403D80EADBBEC42D6210D3289C926" KeyPath="yes" Source="$(var.SourceDir)\screen_retriever_plugin.dll" />
            </Component>
            <Component Id="cmp847F16B6E444F4EF34D3DE5F4DDAA8F5" Guid="{B4DEE9E8-736C-400E-8844-38163D6618D9}">
                <File Id="fil9332C7D2F183FC6BD5D3D6892B659059" KeyPath="yes" Source="$(var.SourceDir)\texture_rgba_renderer_plugin.dll" />
            </Component>
            <Component Id="cmpD25B21823450CD471774673B7AA06196" Guid="{7A3DA2AE-D4CA-4536-BDEA-06BBD7E2648C}">
                <File Id="filAAD8F73DA1C26391B99FE8819C39262B" KeyPath="yes" Source="$(var.SourceDir)\uni_links_desktop_plugin.dll" />
            </Component>
            <Component Id="cmp39E7414C8679E28554E4A9F5B3298D3E" Guid="{8027C96D-6F7F-479C-B73D-8BDED8C37F51}">
                <File Id="fil34CEE0072415DFB04188A3F265BF58F8" KeyPath="yes" Source="$(var.SourceDir)\url_launcher_windows_plugin.dll" />
            </Component>
            <Component Id="cmp70D7EF34E9B6D1081400F0FC7644524D" Guid="{84B86772-6F0A-402E-9AD4-EEFBFBE8A52B}">
                <File Id="fil6EACF2B9B1DC081EB15B302C51C8FAD7" KeyPath="yes" Source="$(var.SourceDir)\window_manager_plugin.dll" />
            </Component>
            <Component Id="cmp9320B2F1ACD0D9B220E969B0442D1F9A" Guid="{07AA667A-9BF4-400E-A492-DB1F3C85E4AA}">
                <File Id="fil3C827FFBB0387518E1FD4162F23CAF0A" KeyPath="yes" Source="$(var.SourceDir)\window_size_plugin.dll" />
            </Component>
            <Directory Id="dir76A8B56EDC1C4DD3CB4177F3704BC91E" Name="data">
                <Component Id="cmpCF83D7D65587D05A151D1E25702E167F" Guid="{D0A77403-D561-40D2-AFE2-115F3A108215}">
                    <File Id="filC8D6740BEA75F19BA5204B613C03D8A8" KeyPath="yes" Source="$(var.SourceDir)\data\app.so" />
                </Component>
                <Component Id="cmp0E0DCB81807E433F9DBCEB0D089B25B5" Guid="{9918430E-9E26-4BE8-8DAF-340F19321F66}">
                    <File Id="filFB2ED5EBC1081127146486443055DB0D" KeyPath="yes" Source="$(var.SourceDir)\data\icudtl.dat" />
                </Component>
                <Directory Id="dir4311D903D70E55164A03E9E9374AC9B0" Name="flutter_assets">
                    <Component Id="cmp362972CB336FCADAB6FAD4E58ABB50C0" Guid="{29960778-2B3F-4A7D-8B3E-27AD572963BE}">
                        <File Id="filF34A97E96DF56DC7F9FA1F571A635270" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\AssetManifest.bin" />
                    </Component>
                    <Component Id="cmp75131C7E850BF8649161906B63E97A22" Guid="{60033A29-F431-489C-9909-B2A609C48EC1}">
                        <File Id="filB615B988CD753762830B641F1427F799" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\AssetManifest.json" />
                    </Component>
                    <Component Id="cmp7A9B0136F23F84A4A09D4D0E28D8636B" Guid="{DC4238E0-3495-48BC-892F-6BCFD414375D}">
                        <File Id="fil130B1805FDD25A50E354B5ADEEAC89F4" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\FontManifest.json" />
                    </Component>
                    <Component Id="cmpB22BCD9EFB853D38668ABE777CBF404C" Guid="{4D8BE97E-2656-41F5-B840-C646967C81E8}">
                        <File Id="fil95F1B70B711016C2E2A74411F6B41801" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\NOTICES.Z" />
                    </Component>
                    <Directory Id="dir44DE80E5FFD251532250E7F4BB7B2821" Name="assets">
                        <Component Id="cmpFC3A9316ED9D9116B46026B5A826B913" Guid="{8666E0AB-4D4C-40F2-B409-D35835B5BD53}">
                            <File Id="fil6D1DC07B4AB40B920A06B1592BF34E2A" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\actions.svg" />
                        </Component>
                        <Component Id="cmp303A5E6DB9A0CE90998A41CEB471A8C4" Guid="{F29E2BA1-7062-43AC-B32E-4C7C0C023AAD}">
                            <File Id="fil1F888D7E4617FECD78D38B2456747A47" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\actions_mobile.svg" />
                        </Component>
                        <Component Id="cmpD4AEF1470FD61357A2E2205A45DB63BF" Guid="{D10CA321-A1E1-4305-8041-1FE00B53F436}">
                            <File Id="fil391A28E22B60F8ECB6AB5D6A6B68C16F" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\address_book.ttf" />
                        </Component>
                        <Component Id="cmp797820820658C411885E88C12C118207" Guid="{7652749C-6C84-4D27-B84B-27950B3FCD3A}">
                            <File Id="filE072914EEBC0AF7C576AD0E20B62A125" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\android.svg" />
                        </Component>
                        <Component Id="cmp2E9A8FCD545C30F56CBE08A3D839132A" Guid="{4B4E13E8-F3B6-4B38-8E74-B7BF0BB088FE}">
                            <File Id="fil5CF8A04FF88DDDCC0B2F10B0DB8749F3" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\arrow.svg" />
                        </Component>
                        <Component Id="cmpACF7BDD1B686F6CCA987B5EAE673B3C2" Guid="{813FABC9-224E-4D8F-9844-994D514D09BA}">
                            <File Id="fil79026D75C314DF90C59C4EC851E3F5B3" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\auth-apple.svg" />
                        </Component>
                        <Component Id="cmpB55EDE3E4717355AF15F837FF295355F" Guid="{75A509AB-5E85-4A4C-90D2-C1ADB8AE11D5}">
                            <File Id="filBFFC24327F59FCB0C51D919C103A9250" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\auth-auth0.svg" />
                        </Component>
                        <Component Id="cmp87A9F420A671CC11219370D7FCE956B7" Guid="{A6B0C8C5-9B2F-4D50-B1BD-06EE4B53CC4B}">
                            <File Id="fil5485B5B5C35FE822E1292563971D1CA6" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\auth-azure.svg" />
                        </Component>
                        <Component Id="cmp5EFE10D1A68ABCA2FABFD2F601A1852F" Guid="{3261B73B-2256-4480-AD58-D5C09A866260}">
                            <File Id="filFB2CA22A9A25247BBC0ABB9B47D8BCDA" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\auth-default.svg" />
                        </Component>
                        <Component Id="cmp69A5563A7209361F31B764F3FB7747E0" Guid="{7C2FF138-10A2-4983-B4E6-482E97B58356}">
                            <File Id="fil0D720CADDF3F84A24608DFBFEC084CD8" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\auth-facebook.svg" />
                        </Component>
                        <Component Id="cmp541AF6AC3273C961D79621A80DE3EA8A" Guid="{AE0A0C19-D7D6-40B7-A841-3D6F3C068E04}">
                            <File Id="fil1F34BC978863670E20974351F4894429" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\auth-github.svg" />
                        </Component>
                        <Component Id="cmp7FF20A791C94077A642B58F9ABBA598F" Guid="{67DB89BB-04B0-48CA-8AFE-FFC49E475130}">
                            <File Id="fil3E4FECC233FE6630EE152A305C447BAA" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\auth-gitlab.svg" />
                        </Component>
                        <Component Id="cmpDB25609E27145257EF626FE7C287A443" Guid="{5E32BAB6-E805-4F1C-A934-626568B58BFD}">
                            <File Id="filF9F7C3BB03DF798121CE3AA1F72B4FD1" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\auth-google.svg" />
                        </Component>
                        <Component Id="cmp285EF11CE0FBA59393F31FA657A019C2" Guid="{4A7377F5-BD45-4EB6-A4D0-DD4220FF69D8}">
                            <File Id="fil9252D256F4CEEDD57059C0F3AC5C6B93" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\auth-okta.svg" />
                        </Component>
                        <Component Id="cmpAE0AD68E7F48A5B8B7C84E7D959F1AFE" Guid="{DCB9187C-17C4-49F1-A6DC-1E80AC87B16A}">
                            <File Id="fil53099BF869D7C8678C5F6A4332B2D160" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\call_end.svg" />
                        </Component>
                        <Component Id="cmpB51F47CD8F354E7347B4778A24AB9675" Guid="{5BB61D9F-B748-4807-ABF7-E2FF25B62A87}">
                            <File Id="filB926ECB59ED96F384BB13DCCC9F84CE8" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\call_wait.svg" />
                        </Component>
                        <Component Id="cmpC2F59E9B9588E7D681642A631EED5994" Guid="{7F3F5453-9250-4091-805A-E223F2D1D82D}">
                            <File Id="fil62DF30F5EB519D107D636FE0F013E857" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\chat.svg" />
                        </Component>
                        <Component Id="cmp7CED50E47071F6C4115F1DF64B56C29B" Guid="{530116A7-1E11-4EE6-BAA1-8934577E2564}">
                            <File Id="fil74974B2DC7F77E7F663D0409B8940EC6" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\chat2.svg" />
                        </Component>
                        <Component Id="cmpF50D8EEFCDF6718F0434235711C35BAA" Guid="{4C14E898-18F8-4FF4-ACD7-245F569B25E1}">
                            <File Id="filED44EDBA2BB3B0DB39A7753DACA049D5" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\checkbox-outline.svg" />
                        </Component>
                        <Component Id="cmpE8E781F145371454DD7F30AEB3698A51" Guid="{C06287AB-8879-4FB6-BA68-2AACE663A50C}">
                            <File Id="fil67E743A3A279E8A4484DEC6F28E7B8BA" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\chevron_up_chevron_down.svg" />
                        </Component>
                        <Component Id="cmp40FDF6CABAE6D0B270E372273CAC9240" Guid="{74464971-2C2A-456E-92C3-5B168CAF661E}">
                            <File Id="filB7CF6AB14C65255EAA4528D36760ABE6" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\close.svg" />
                        </Component>
                        <Component Id="cmp9FC60B82CF632FD08C3FEF09A6B14675" Guid="{6F2AFE3C-126B-4099-8489-7AA209FBF955}">
                            <File Id="fil91316B8FD0F95A430513807C17E46396" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\device_group.ttf" />
                        </Component>
                        <Component Id="cmpADA96A935381696DA037094D40895D19" Guid="{D713204E-6848-451E-A02C-BD4A6C8026DE}">
                            <File Id="filB0B2055CD18F40E73921D815C7C73DB1" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\display.svg" />
                        </Component>
                        <Component Id="cmp47B6EACC8EF5575AB6AA9AAA4AA5C34E" Guid="{6D99D0F4-37AB-4F4D-BF62-941404E925E9}">
                            <File Id="fil8BA61B190CA1983BB74851EFDBFB1D67" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\dots.svg" />
                        </Component>
                        <Component Id="cmp2B4734397B0D451C054DC1417C2C0ACC" Guid="{7951CD9A-0CAB-48BC-B8A8-F4495393D987}">
                            <File Id="fil66F07DAF0E76315F98AEB4BCE11F063B" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\file.svg" />
                        </Component>
                        <Component Id="cmp2A3B5AF2E9A6330D6A3E98B8430AA0AA" Guid="{AA6D42B5-09FF-4E04-AEA2-131299217F1B}">
                            <File Id="fil9A6C8C64231AC4C0D8A22B30D8DBAF84" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\file_transfer.svg" />
                        </Component>
                        <Component Id="cmpA81520D86B7303E7115B9792BFAF49D9" Guid="{9C82E341-A68A-479B-A79F-E6DA1B50ED86}">
                            <File Id="fil7AE9F4D756BC0C49B343FBBCDD9DAA91" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\folder.svg" />
                        </Component>
                        <Component Id="cmp432C5F89E72F366603F7C9F2CEFCD3BD" Guid="{2BC5F02C-0DDA-42BA-A214-D9D1CD2101FD}">
                            <File Id="fil57971A2093C60BB54E398B4A8ED813EA" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\folder_new.svg" />
                        </Component>
                        <Component Id="cmpFC8A5769461C691208DA885EB8BBC2BC" Guid="{C15669A2-3CC1-4748-A5AC-435F16E9089F}">
                            <File Id="fil2AEDBB76CD394B43F63ED3B1C67B2FAE" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\fullscreen.svg" />
                        </Component>
                        <Component Id="cmp841C7749E19CD5239777B9ACF98F53F5" Guid="{867AD07A-833A-4590-8EBD-E47133BBE057}">
                            <File Id="fil7D6C13CBAA1CF2613D3EA1D0BD75C789" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\fullscreen_exit.svg" />
                        </Component>
                        <Component Id="cmpE9CE276373CDAED94144ED985869995E" Guid="{F439D498-87C2-49E0-B2D3-B7D9F0409EDE}">
                            <File Id="fil7ED7B86E9CFDF2BEFC5FB872D8FE5C90" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\gestures.ttf" />
                        </Component>
                        <Component Id="cmpDEB937FF4771E02D9A714994F01935FC" Guid="{B3203ADF-A14D-4B28-A486-98FE4DB8462F}">
                            <File Id="fil288200F073D1C48959DEF1647DFDD544" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\home.svg" />
                        </Component>
                        <Component Id="cmp56FB7E62A3E36F763EE23311BEA4257B" Guid="{02B3D58A-6762-4FBF-B12F-774AFD2CC228}">
                            <File Id="fil81068460EF0E2EADB3F81C545820AFA0" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\icon.png" />
                        </Component>
                        <Component Id="cmp941FC27A44C366F85B3AFD610A820AF6" Guid="{029258BE-085D-4E3E-A23E-2FB267F3420B}">
                            <File Id="fil79DA34B999635A20E264EA277582ED0B" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\icon.svg" />
                        </Component>
                        <Component Id="cmp29E36E82147B8C3ED3F7EAD037FF14F8" Guid="{CFBA764D-F858-4B18-A7F5-7F5D8699D21B}">
                            <File Id="fil9AA14309688586CDA5E489AFDC375CD0" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\insecure.svg" />
                        </Component>
                        <Component Id="cmpC5998ACC88E1EA09BDEC33BA300C90F0" Guid="{B193CFA5-2FB9-4F5E-8737-D9431CC5D011}">
                            <File Id="fil412DB1945F4DC85B68C395B3771A2283" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\insecure_relay.svg" />
                        </Component>
                        <Component Id="cmpA950D9282478F9D9937F015F2AB37C19" Guid="{A73843F2-20ED-4279-8E85-5AC4B174A9EF}">
                            <File Id="fil7BD7E79C67BDD3560B491D27685A4575" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\kb_layout_iso.svg" />
                        </Component>
                        <Component Id="cmpE83D6266C0F68EC81775E5C4826E5B8B" Guid="{04C11557-152C-4A69-9462-DE52273CE226}">
                            <File Id="fil16F85A39F0097A8A56FF5449C31816F9" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\kb_layout_not_iso.svg" />
                        </Component>
                        <Component Id="cmpF12B19CBC73C7878DD92B6A2A00CF86F" Guid="{B3CD609E-38C9-4429-AB63-D2057B0A2CA2}">
                            <File Id="filD6046F3290AFBF19F89C1FD1457DD387" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\keyboard_mouse.svg" />
                        </Component>
                        <Component Id="cmp9DC12B34F0F1EB9C24C40F4FBD7D2F00" Guid="{A7BDEDFA-0925-4FD0-9270-4A76C5FC1EB7}">
                            <File Id="fil49080DC239668A812DA534A24C1135E9" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\linux.svg" />
                        </Component>
                        <Component Id="cmp4272783069284D4EC162948E6D07655E" Guid="{F9A02549-5810-46CB-910C-B5E169695072}">
                            <File Id="fil1848C43C2133BE22FACF36A1A23AA105" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\logo.png" />
                        </Component>
                        <Component Id="cmp3FFD1AD08BEE8352504F42C36EC0DFC4" Guid="{99939CDC-0783-4492-9FC9-E58A5F0AF9AB}">
                            <File Id="filB7D6C9923C9CA243FBE0D61BF10E392E" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\mac.svg" />
                        </Component>
                        <Component Id="cmp6FD5B91AA6EBE1D73989C5E70430C08A" Guid="{61F77E74-FD20-4472-8B89-45DF4F054F25}">
                            <File Id="fil445DFF8E726E46A8D64C909494BB4681" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\message_24dp_5F6368.svg" />
                        </Component>
                        <Component Id="cmpA56F1AA3521F00A19BBFF059BA0CE91C" Guid="{1FE044DE-8FDE-4A90-A526-71A98D278C1B}">
                            <File Id="fil124604ED1B36A4D6FF222C57042128B6" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\more.ttf" />
                        </Component>
                        <Component Id="cmp856C66705E8E89009C748DA594E4DB8D" Guid="{E9310784-AA6D-446A-B111-8CA4B38F4050}">
                            <File Id="fil71EFD4C7E620A1B29634E61D8DEBF56E" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\peer_searchbar.ttf" />
                        </Component>
                        <Component Id="cmpE4F837320BD5FD0F5AA34EDFD3F50BC3" Guid="{5AA725DE-2A7D-4E75-BEB8-0E616E6E563A}">
                            <File Id="filA311156C2FCD4055C6AE9CEC0B542315" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\pinned.svg" />
                        </Component>
                        <Component Id="cmp3BA9660144FDD0CED629042A3575A46E" Guid="{413FB137-5F2C-442F-8A4F-CB85367734C2}">
                            <File Id="fil00F8BF743C8199BFB5C79FF5F386648C" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\rec.svg" />
                        </Component>
                        <Component Id="cmpCB00F6110854AF0BF6C2B466E2819EC8" Guid="{E9E7BE6A-7BB9-43E5-B4D6-F55BA28EEA64}">
                            <File Id="filF8A422C1218037BB7570A06981A0E502" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\record_screen.svg" />
                        </Component>
                        <Component Id="cmpFA2D45F827280CA0E10CF88C37A903C9" Guid="{936CBF90-AC8D-485F-B980-593E88076911}">
                            <File Id="filB966D5749DDE79D893F3237C77E7EEED" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\refresh.svg" />
                        </Component>
                        <Component Id="cmp965F7AD1C174C3C0FD8A84B2FDF3850F" Guid="{17CBB13F-74AB-4C7C-8F16-E6C620AF1D75}">
                            <File Id="filA7BF64A088D3816216AE97422E5312DE" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\scam.png" />
                        </Component>
                        <Component Id="cmp6C0A623DC7DE37C36DA24285D53A3A2D" Guid="{7164EAF1-7A22-4C85-B3BE-CF92941B53B0}">
                            <File Id="fil477BFC11E01A497A49FED17AA857403C" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\screen.svg" />
                        </Component>
                        <Component Id="cmp52FDDC7E3C1A30C3F161A81E0555B6FE" Guid="{56BED200-537F-468C-9D07-3C6448270787}">
                            <File Id="filFFE8FC102AB60AED1155E025C6E4618C" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\search.svg" />
                        </Component>
                        <Component Id="cmp2980B17461D01D06C99981C9156AE3D7" Guid="{CB16C53D-1C40-4AB8-9532-6350150FCF76}">
                            <File Id="filCEDFB0D2E1B03DA68E3B75A95CF63C6E" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\secure.svg" />
                        </Component>
                        <Component Id="cmpC3739B5AB1451EED0B27ABBAC9BC8303" Guid="{41720675-F18C-44A8-BA74-4B1997B9C073}">
                            <File Id="fil5E679F96733B65787EAC4C9DB510E3FE" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\secure_relay.svg" />
                        </Component>
                        <Component Id="cmp44C91F3A4744F3997BBBE0A1A0161D3A" Guid="{EDE5119A-0BDB-42FE-8FF2-8966277688B3}">
                            <File Id="fil8FBF4E1A54B8F4720D0F8F67F78C0582" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\tabbar.ttf" />
                        </Component>
                        <Component Id="cmp553F2142A9235F6B37EE2C6FBE1525C0" Guid="{1106A007-2927-40B8-8793-0674A3F6A311}">
                            <File Id="fil40BADE607C7BDE83A0F344183CE25B89" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\transfer.svg" />
                        </Component>
                        <Component Id="cmp2981CD6DCFA00C13ADED066D4FB88A9D" Guid="{C5E5E494-067A-48A6-96AF-A07A4C47CB2E}">
                            <File Id="filE46809FBB42980C8FDB1F9BE19BD8BB4" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\trash.svg" />
                        </Component>
                        <Component Id="cmpAC053B1C56E5599DB437B35AC112E58E" Guid="{9CF80D5D-E26D-4DC3-96D8-A48D16B3ACE9}">
                            <File Id="fil6C64A4EA4B8F424CFB93796417B708D8" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\unpinned.svg" />
                        </Component>
                        <Component Id="cmp75649852A3A89DFFE3AEA8ED193E8356" Guid="{CB7AD8DD-CE45-41DC-807A-4DFEE910B1DE}">
                            <File Id="filD7BCCD12A9846C86F453349A6168BB7F" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\voice_call.svg" />
                        </Component>
                        <Component Id="cmp2B044C5AD1F0448179E072018EDEE25F" Guid="{05418F7F-686B-41F8-8884-314CFC434ACB}">
                            <File Id="filBD7CAB68C2821EA36EFBE828F1F84F13" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\voice_call_waiting.svg" />
                        </Component>
                        <Component Id="cmp4E357CED2326EFF1A73DDB1BBCCAAB71" Guid="{CB39D12E-224E-471B-8F71-D3E069A97F2C}">
                            <File Id="fil79BB237F7EF4AFAAE9E74B88AFC29E89" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\win.svg" />
                        </Component>
                    </Directory>
                    <Directory Id="dirE2A82CA30E4E1381D520C8FF40996653" Name="fonts">
                        <Component Id="cmp9475753282C5250DEC233DF924257EDD" Guid="{FD9BCBCE-67A5-452B-8C2A-825FDC120B1C}">
                            <File Id="fil95709FE501C331265C6CAAD00C2EA783" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\fonts\MaterialIcons-Regular.otf" />
                        </Component>
                    </Directory>
                    <Directory Id="dirE3A5CD763BAF580FDB3696619F614D3F" Name="packages">
                        <Directory Id="dir26A880A4C48EABABEFB76F4F9BE6509F" Name="dash_chat_2">
                            <Directory Id="dir682CC0CEA7EE39F94333655751F35DEA" Name="assets">
                                <Component Id="cmp817EBE9909D17181EDBC1970B60C0448" Guid="{3CD88577-F8E0-4356-AA6A-C8325897AD12}">
                                    <File Id="filB980406954CA80B38034A1D424267A35" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\packages\dash_chat_2\assets\placeholder.png" />
                                </Component>
                                <Component Id="cmp739058925CD5E92BB2DB08ACF5DC675D" Guid="{D0F895DE-CFF1-478D-8DCF-C1F99A4CB00E}">
                                    <File Id="fil1DCDCEE20FBFADAC2BA0D28075B7E55D" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\packages\dash_chat_2\assets\profile_placeholder.png" />
                                </Component>
                            </Directory>
                        </Directory>
                        <Directory Id="dir794A47B7D15A33D63F6370D2937DCBD2" Name="flex_color_picker">
                            <Directory Id="dir8B67397669D56FAC3379776F9F1B6F64" Name="assets">
                                <Component Id="cmpB1977A0B9CABDFDBA9044FA7604B477C" Guid="{37180CC9-C336-4AD9-ADF6-645CC5A73546}">
                                    <File Id="fil47FF0CB25DF21DED3692916C809C05A6" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\packages\flex_color_picker\assets\opacity.png" />
                                </Component>
                            </Directory>
                        </Directory>
                        <Directory Id="dir3D4B0F90BD0045CFF70352D459F31386" Name="wakelock_plus">
                            <Directory Id="dir2BCD4EA8284625AF818A43D7D5D9E2FF" Name="assets">
                                <Component Id="cmpA55BE71F05C42DBABFC310558A136E73" Guid="{09EA4864-8DF1-4BA6-A64C-30246E500371}">
                                    <File Id="filA488ED451B429696D4B764A2BF9D008E" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\packages\wakelock_plus\assets\no_sleep.js" />
                                </Component>
                            </Directory>
                        </Directory>
                        <Directory Id="dir76993AEF82FE6B16ABCBC8039CB696BC" Name="window_manager">
                            <Directory Id="dirA60AD7FF5E838611FEDF9115DB041B6A" Name="images">
                                <Component Id="cmp8DF768FC920D09B64191181F68492C64" Guid="{CCF2531A-722B-403C-92D2-823DE51B1CF6}">
                                    <File Id="fil99F7CB641600398B5BF5C01BF8622122" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\packages\window_manager\images\ic_chrome_close.png" />
                                </Component>
                                <Component Id="cmp990E936D8AC6A78698AAD92A36E67CD2" Guid="{2AEC1A79-D62F-475F-8AB9-33D23DD50E18}">
                                    <File Id="filE2354ACBC256062FF3130197DA427EBD" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\packages\window_manager\images\ic_chrome_maximize.png" />
                                </Component>
                                <Component Id="cmpECBC23ADEC529A04B12090B2C1EA924D" Guid="{4CEA987A-ACE8-41A8-B28A-D79B6A5EB37D}">
                                    <File Id="filE8C7E6BCADDA13E0C6354B630A68012E" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\packages\window_manager\images\ic_chrome_minimize.png" />
                                </Component>
                                <Component Id="cmpEBAC1ACA0F746E752314A795635B427F" Guid="{0F426216-99C4-4E4D-8939-8BE146A3E187}">
                                    <File Id="filBB10649E6C8E54DB790FB81ED36ED3A6" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\packages\window_manager\images\ic_chrome_unmaximize.png" />
                                </Component>
                            </Directory>
                        </Directory>
                    </Directory>
                    <Directory Id="dir5C01D37FD138B424B270832E735CB541" Name="shaders">
                        <Component Id="cmpB754D63122F49081C0DAAE0074FBD9C1" Guid="{75A7B63B-8BFE-4856-96B0-C85AA05E2B26}">
                            <File Id="filFA5374F8D6DDBC810796AB1AB906FB74" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\shaders\ink_sparkle.frag" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="AppFiles">
            <ComponentRef Id="cmpBC647A18D3A9561236B9803E15E14E2B" />
            <ComponentRef Id="cmp2CD06D85712105D7F5156BF1A0845776" />
            <ComponentRef Id="cmp012F7070E69EFF4320E139815882BEE5" />
            <ComponentRef Id="cmpE625E77F522637C094C5867D5E084A27" />
            <ComponentRef Id="cmpF6746A9DA97FD0A8BEB6B4AD93DBAF2E" />
            <ComponentRef Id="cmp56CF220A0F2463F9A5E85A05D1E79C99" />
            <ComponentRef Id="cmpDC22F85144003CB2F05080B8CF79FC46" />
            <ComponentRef Id="cmp6008A86AE138BD45314608B385266AA3" />
            <ComponentRef Id="cmpFC51E889A92B742B5F953C34F614A7BE" />
            <ComponentRef Id="cmp8C7A5EF348AC51FD578F34C2A1C2B80F" />
            <ComponentRef Id="cmpE1F819E9F0DE12052216D6D9563E4EF5" />
            <ComponentRef Id="cmp847F16B6E444F4EF34D3DE5F4DDAA8F5" />
            <ComponentRef Id="cmpD25B21823450CD471774673B7AA06196" />
            <ComponentRef Id="cmp39E7414C8679E28554E4A9F5B3298D3E" />
            <ComponentRef Id="cmp70D7EF34E9B6D1081400F0FC7644524D" />
            <ComponentRef Id="cmp9320B2F1ACD0D9B220E969B0442D1F9A" />
            <ComponentRef Id="cmpCF83D7D65587D05A151D1E25702E167F" />
            <ComponentRef Id="cmp0E0DCB81807E433F9DBCEB0D089B25B5" />
            <ComponentRef Id="cmp362972CB336FCADAB6FAD4E58ABB50C0" />
            <ComponentRef Id="cmp75131C7E850BF8649161906B63E97A22" />
            <ComponentRef Id="cmp7A9B0136F23F84A4A09D4D0E28D8636B" />
            <ComponentRef Id="cmpB22BCD9EFB853D38668ABE777CBF404C" />
            <ComponentRef Id="cmpFC3A9316ED9D9116B46026B5A826B913" />
            <ComponentRef Id="cmp303A5E6DB9A0CE90998A41CEB471A8C4" />
            <ComponentRef Id="cmpD4AEF1470FD61357A2E2205A45DB63BF" />
            <ComponentRef Id="cmp797820820658C411885E88C12C118207" />
            <ComponentRef Id="cmp2E9A8FCD545C30F56CBE08A3D839132A" />
            <ComponentRef Id="cmpACF7BDD1B686F6CCA987B5EAE673B3C2" />
            <ComponentRef Id="cmpB55EDE3E4717355AF15F837FF295355F" />
            <ComponentRef Id="cmp87A9F420A671CC11219370D7FCE956B7" />
            <ComponentRef Id="cmp5EFE10D1A68ABCA2FABFD2F601A1852F" />
            <ComponentRef Id="cmp69A5563A7209361F31B764F3FB7747E0" />
            <ComponentRef Id="cmp541AF6AC3273C961D79621A80DE3EA8A" />
            <ComponentRef Id="cmp7FF20A791C94077A642B58F9ABBA598F" />
            <ComponentRef Id="cmpDB25609E27145257EF626FE7C287A443" />
            <ComponentRef Id="cmp285EF11CE0FBA59393F31FA657A019C2" />
            <ComponentRef Id="cmpAE0AD68E7F48A5B8B7C84E7D959F1AFE" />
            <ComponentRef Id="cmpB51F47CD8F354E7347B4778A24AB9675" />
            <ComponentRef Id="cmpC2F59E9B9588E7D681642A631EED5994" />
            <ComponentRef Id="cmp7CED50E47071F6C4115F1DF64B56C29B" />
            <ComponentRef Id="cmpF50D8EEFCDF6718F0434235711C35BAA" />
            <ComponentRef Id="cmpE8E781F145371454DD7F30AEB3698A51" />
            <ComponentRef Id="cmp40FDF6CABAE6D0B270E372273CAC9240" />
            <ComponentRef Id="cmp9FC60B82CF632FD08C3FEF09A6B14675" />
            <ComponentRef Id="cmpADA96A935381696DA037094D40895D19" />
            <ComponentRef Id="cmp47B6EACC8EF5575AB6AA9AAA4AA5C34E" />
            <ComponentRef Id="cmp2B4734397B0D451C054DC1417C2C0ACC" />
            <ComponentRef Id="cmp2A3B5AF2E9A6330D6A3E98B8430AA0AA" />
            <ComponentRef Id="cmpA81520D86B7303E7115B9792BFAF49D9" />
            <ComponentRef Id="cmp432C5F89E72F366603F7C9F2CEFCD3BD" />
            <ComponentRef Id="cmpFC8A5769461C691208DA885EB8BBC2BC" />
            <ComponentRef Id="cmp841C7749E19CD5239777B9ACF98F53F5" />
            <ComponentRef Id="cmpE9CE276373CDAED94144ED985869995E" />
            <ComponentRef Id="cmpDEB937FF4771E02D9A714994F01935FC" />
            <ComponentRef Id="cmp56FB7E62A3E36F763EE23311BEA4257B" />
            <ComponentRef Id="cmp941FC27A44C366F85B3AFD610A820AF6" />
            <ComponentRef Id="cmp29E36E82147B8C3ED3F7EAD037FF14F8" />
            <ComponentRef Id="cmpC5998ACC88E1EA09BDEC33BA300C90F0" />
            <ComponentRef Id="cmpA950D9282478F9D9937F015F2AB37C19" />
            <ComponentRef Id="cmpE83D6266C0F68EC81775E5C4826E5B8B" />
            <ComponentRef Id="cmpF12B19CBC73C7878DD92B6A2A00CF86F" />
            <ComponentRef Id="cmp9DC12B34F0F1EB9C24C40F4FBD7D2F00" />
            <ComponentRef Id="cmp4272783069284D4EC162948E6D07655E" />
            <ComponentRef Id="cmp3FFD1AD08BEE8352504F42C36EC0DFC4" />
            <ComponentRef Id="cmp6FD5B91AA6EBE1D73989C5E70430C08A" />
            <ComponentRef Id="cmpA56F1AA3521F00A19BBFF059BA0CE91C" />
            <ComponentRef Id="cmp856C66705E8E89009C748DA594E4DB8D" />
            <ComponentRef Id="cmpE4F837320BD5FD0F5AA34EDFD3F50BC3" />
            <ComponentRef Id="cmp3BA9660144FDD0CED629042A3575A46E" />
            <ComponentRef Id="cmpCB00F6110854AF0BF6C2B466E2819EC8" />
            <ComponentRef Id="cmpFA2D45F827280CA0E10CF88C37A903C9" />
            <ComponentRef Id="cmp965F7AD1C174C3C0FD8A84B2FDF3850F" />
            <ComponentRef Id="cmp6C0A623DC7DE37C36DA24285D53A3A2D" />
            <ComponentRef Id="cmp52FDDC7E3C1A30C3F161A81E0555B6FE" />
            <ComponentRef Id="cmp2980B17461D01D06C99981C9156AE3D7" />
            <ComponentRef Id="cmpC3739B5AB1451EED0B27ABBAC9BC8303" />
            <ComponentRef Id="cmp44C91F3A4744F3997BBBE0A1A0161D3A" />
            <ComponentRef Id="cmp553F2142A9235F6B37EE2C6FBE1525C0" />
            <ComponentRef Id="cmp2981CD6DCFA00C13ADED066D4FB88A9D" />
            <ComponentRef Id="cmpAC053B1C56E5599DB437B35AC112E58E" />
            <ComponentRef Id="cmp75649852A3A89DFFE3AEA8ED193E8356" />
            <ComponentRef Id="cmp2B044C5AD1F0448179E072018EDEE25F" />
            <ComponentRef Id="cmp4E357CED2326EFF1A73DDB1BBCCAAB71" />
            <ComponentRef Id="cmp9475753282C5250DEC233DF924257EDD" />
            <ComponentRef Id="cmp817EBE9909D17181EDBC1970B60C0448" />
            <ComponentRef Id="cmp739058925CD5E92BB2DB08ACF5DC675D" />
            <ComponentRef Id="cmpB1977A0B9CABDFDBA9044FA7604B477C" />
            <ComponentRef Id="cmpA55BE71F05C42DBABFC310558A136E73" />
            <ComponentRef Id="cmp8DF768FC920D09B64191181F68492C64" />
            <ComponentRef Id="cmp990E936D8AC6A78698AAD92A36E67CD2" />
            <ComponentRef Id="cmpECBC23ADEC529A04B12090B2C1EA924D" />
            <ComponentRef Id="cmpEBAC1ACA0F746E752314A795635B427F" />
            <ComponentRef Id="cmpB754D63122F49081C0DAAE0074FBD9C1" />
        </ComponentGroup>
    </Fragment>
</Wix>
