<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmpBC647A18D3A9561236B9803E15E14E2B" Guid="{2B8838AE-8CA2-4DE9-9061-8A46B8833852}">
                <File Id="filB96D169D724AD878D1F3F8D392C77726" KeyPath="yes" Source="$(var.SourceDir)\create_shortcuts.vbs" />
            </Component>
            <Component Id="cmp2CD06D85712105D7F5156BF1A0845776" Guid="{749B486C-25FE-4689-BE56-BB07E333E07E}">
                <File Id="fil12B2920321B02E61D60257FD35C20C55" KeyPath="yes" Source="$(var.SourceDir)\desktop_drop_plugin.dll" />
            </Component>
            <Component Id="cmp012F7070E69EFF4320E139815882BEE5" Guid="{6F5A796A-C039-42AC-802E-8F311D60F804}">
                <File Id="fil5992837D8A9571091EE1A787CDCADF72" KeyPath="yes" Source="$(var.SourceDir)\desktop_multi_window_plugin.dll" />
            </Component>
            <Component Id="cmpE625E77F522637C094C5867D5E084A27" Guid="{B8BAD57F-6F08-44CF-914C-5B4BB9BD3F69}">
                <File Id="fil31401CE1FB9E3C72D10B649266643710" KeyPath="yes" Source="$(var.SourceDir)\file_selector_windows_plugin.dll" />
            </Component>
            <Component Id="cmpF6746A9DA97FD0A8BEB6B4AD93DBAF2E" Guid="{FA38C066-7051-43FD-9844-3EBD05AAF8C7}">
                <File Id="filD89D2545FB955250CD54C31C12210288" KeyPath="yes" Source="$(var.SourceDir)\flutter_custom_cursor_plugin.dll" />
            </Component>
            <Component Id="cmp56CF220A0F2463F9A5E85A05D1E79C99" Guid="{B7BABA3F-4445-452B-B76A-BE01BD47BF3C}">
                <File Id="fil6947FF6A042A37A7B25BEE11BB9C0625" KeyPath="yes" Source="$(var.SourceDir)\flutter_gpu_texture_renderer_plugin.dll" />
            </Component>
            <Component Id="cmpDC22F85144003CB2F05080B8CF79FC46" Guid="{90276522-4E53-4503-8883-270151F92ECB}">
                <File Id="fil230F9A11CF93D3D1A94FAA7A9D69118F" KeyPath="yes" Source="$(var.SourceDir)\flutter_windows.dll" />
            </Component>
            <Component Id="cmp6008A86AE138BD45314608B385266AA3" Guid="{C7F5D3A0-8AAD-4D35-BC7E-BAE2041E5436}">
                <File Id="fil1903E10C302552AF0F25292D924A8B57" KeyPath="yes" Source="$(var.SourceDir)\icon.ico" />
            </Component>
            <Component Id="cmpFC51E889A92B742B5F953C34F614A7BE" Guid="{13167870-0605-4D64-BF59-E95BEE4F9CC4}">
                <File Id="filDA3C8FD35FE49EE79863157620936557" KeyPath="yes" Source="$(var.SourceDir)\librustdesk.dll" />
            </Component>
            <Component Id="cmp8C7A5EF348AC51FD578F34C2A1C2B80F" Guid="{4C9EB48A-C0F8-4717-A619-BCDC33BFAA56}">
                <File Id="fil4B0AFCCFBBFE932B7A12C8ACC5D65BAF" KeyPath="yes" Source="$(var.SourceDir)\remove_shortcuts.vbs" />
            </Component>
            
            <Component Id="cmpE1F819E9F0DE12052216D6D9563E4EF5" Guid="{02F0E4ED-F473-46D3-953D-8DD5A4F8375E}">
                <File Id="fil7B3403D80EADBBEC42D6210D3289C926" KeyPath="yes" Source="$(var.SourceDir)\screen_retriever_plugin.dll" />
            </Component>
            <Component Id="cmp847F16B6E444F4EF34D3DE5F4DDAA8F5" Guid="{4A1ED554-DC80-4B61-B623-5A1B0CF3F2BF}">
                <File Id="fil9332C7D2F183FC6BD5D3D6892B659059" KeyPath="yes" Source="$(var.SourceDir)\texture_rgba_renderer_plugin.dll" />
            </Component>
            <Component Id="cmpD25B21823450CD471774673B7AA06196" Guid="{9B4983D2-4D0F-4A8B-B2CD-156F883EB9B1}">
                <File Id="filAAD8F73DA1C26391B99FE8819C39262B" KeyPath="yes" Source="$(var.SourceDir)\uni_links_desktop_plugin.dll" />
            </Component>
            <Component Id="cmp39E7414C8679E28554E4A9F5B3298D3E" Guid="{C9BBBC7B-7A9F-4B3B-99A3-EA20D803D602}">
                <File Id="fil34CEE0072415DFB04188A3F265BF58F8" KeyPath="yes" Source="$(var.SourceDir)\url_launcher_windows_plugin.dll" />
            </Component>
            <Component Id="cmp70D7EF34E9B6D1081400F0FC7644524D" Guid="{7898E61D-8976-4E36-A6BA-E15F0E8B0C73}">
                <File Id="fil6EACF2B9B1DC081EB15B302C51C8FAD7" KeyPath="yes" Source="$(var.SourceDir)\window_manager_plugin.dll" />
            </Component>
            <Component Id="cmp9320B2F1ACD0D9B220E969B0442D1F9A" Guid="{3CEE63AB-644E-40C3-AF2D-CBE3F07CDE7D}">
                <File Id="fil3C827FFBB0387518E1FD4162F23CAF0A" KeyPath="yes" Source="$(var.SourceDir)\window_size_plugin.dll" />
            </Component>
            <Directory Id="dir76A8B56EDC1C4DD3CB4177F3704BC91E" Name="data">
                <Component Id="cmpCF83D7D65587D05A151D1E25702E167F" Guid="{2806FD6F-01C8-4343-BCEF-FA56947EF220}">
                    <File Id="filC8D6740BEA75F19BA5204B613C03D8A8" KeyPath="yes" Source="$(var.SourceDir)\data\app.so" />
                </Component>
                <Component Id="cmp0E0DCB81807E433F9DBCEB0D089B25B5" Guid="{27A8E701-BB0B-4329-8CA2-06512AC4BD6D}">
                    <File Id="filFB2ED5EBC1081127146486443055DB0D" KeyPath="yes" Source="$(var.SourceDir)\data\icudtl.dat" />
                </Component>
                <Directory Id="dir4311D903D70E55164A03E9E9374AC9B0" Name="flutter_assets">
                    <Component Id="cmp362972CB336FCADAB6FAD4E58ABB50C0" Guid="{8A20B135-2523-4293-844A-2C6BD49184F0}">
                        <File Id="filF34A97E96DF56DC7F9FA1F571A635270" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\AssetManifest.bin" />
                    </Component>
                    <Component Id="cmp75131C7E850BF8649161906B63E97A22" Guid="{804C4F03-DBF9-4F61-A583-004669932234}">
                        <File Id="filB615B988CD753762830B641F1427F799" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\AssetManifest.json" />
                    </Component>
                    <Component Id="cmp7A9B0136F23F84A4A09D4D0E28D8636B" Guid="{9CE489AA-B84D-47C3-BBC0-EC74DFBA64F0}">
                        <File Id="fil130B1805FDD25A50E354B5ADEEAC89F4" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\FontManifest.json" />
                    </Component>
                    <Component Id="cmpB22BCD9EFB853D38668ABE777CBF404C" Guid="{33E79102-CE7F-4307-AFC5-AF9EFC8CCC9A}">
                        <File Id="fil95F1B70B711016C2E2A74411F6B41801" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\NOTICES.Z" />
                    </Component>
                    <Directory Id="dir44DE80E5FFD251532250E7F4BB7B2821" Name="assets">
                        <Component Id="cmpFC3A9316ED9D9116B46026B5A826B913" Guid="{B662AB11-6248-4D38-89A1-78B9570FD4B9}">
                            <File Id="fil6D1DC07B4AB40B920A06B1592BF34E2A" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\actions.svg" />
                        </Component>
                        <Component Id="cmp303A5E6DB9A0CE90998A41CEB471A8C4" Guid="{7E1E5A18-B03C-4DA5-976C-13385FFB906A}">
                            <File Id="fil1F888D7E4617FECD78D38B2456747A47" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\actions_mobile.svg" />
                        </Component>
                        <Component Id="cmpD4AEF1470FD61357A2E2205A45DB63BF" Guid="{B84FCBA8-984B-4C8E-B467-8AD8CFAEA88A}">
                            <File Id="fil391A28E22B60F8ECB6AB5D6A6B68C16F" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\address_book.ttf" />
                        </Component>
                        <Component Id="cmp797820820658C411885E88C12C118207" Guid="{512EBAC5-A22D-4849-8666-67A70A2D797F}">
                            <File Id="filE072914EEBC0AF7C576AD0E20B62A125" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\android.svg" />
                        </Component>
                        <Component Id="cmp2E9A8FCD545C30F56CBE08A3D839132A" Guid="{40547663-4B52-4331-8187-CC0B881271A2}">
                            <File Id="fil5CF8A04FF88DDDCC0B2F10B0DB8749F3" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\arrow.svg" />
                        </Component>
                        <Component Id="cmpACF7BDD1B686F6CCA987B5EAE673B3C2" Guid="{BE373A10-A8C0-4601-B180-EF2B48A29AAB}">
                            <File Id="fil79026D75C314DF90C59C4EC851E3F5B3" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\auth-apple.svg" />
                        </Component>
                        <Component Id="cmpB55EDE3E4717355AF15F837FF295355F" Guid="{658E622A-64F5-4F9D-A30D-44BFD68757AE}">
                            <File Id="filBFFC24327F59FCB0C51D919C103A9250" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\auth-auth0.svg" />
                        </Component>
                        <Component Id="cmp87A9F420A671CC11219370D7FCE956B7" Guid="{3B815596-4EF0-4855-A465-1C78E4E90AA5}">
                            <File Id="fil5485B5B5C35FE822E1292563971D1CA6" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\auth-azure.svg" />
                        </Component>
                        <Component Id="cmp5EFE10D1A68ABCA2FABFD2F601A1852F" Guid="{472FB23A-7D20-4AB4-AF5D-CCF3AACB0965}">
                            <File Id="filFB2CA22A9A25247BBC0ABB9B47D8BCDA" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\auth-default.svg" />
                        </Component>
                        <Component Id="cmp69A5563A7209361F31B764F3FB7747E0" Guid="{3E4AC657-3112-4012-8817-61D052FB7B87}">
                            <File Id="fil0D720CADDF3F84A24608DFBFEC084CD8" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\auth-facebook.svg" />
                        </Component>
                        <Component Id="cmp541AF6AC3273C961D79621A80DE3EA8A" Guid="{C4128F89-2F24-41B6-92F2-9B038AE95EC1}">
                            <File Id="fil1F34BC978863670E20974351F4894429" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\auth-github.svg" />
                        </Component>
                        <Component Id="cmp7FF20A791C94077A642B58F9ABBA598F" Guid="{FF93EFB0-0CCF-48F0-AD76-80CA66E4E3D2}">
                            <File Id="fil3E4FECC233FE6630EE152A305C447BAA" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\auth-gitlab.svg" />
                        </Component>
                        <Component Id="cmpDB25609E27145257EF626FE7C287A443" Guid="{EBFF8F75-9E06-47F1-A944-67F56F0706FB}">
                            <File Id="filF9F7C3BB03DF798121CE3AA1F72B4FD1" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\auth-google.svg" />
                        </Component>
                        <Component Id="cmp285EF11CE0FBA59393F31FA657A019C2" Guid="{F4684F01-91DF-47E1-94C2-50C26445E128}">
                            <File Id="fil9252D256F4CEEDD57059C0F3AC5C6B93" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\auth-okta.svg" />
                        </Component>
                        <Component Id="cmpAE0AD68E7F48A5B8B7C84E7D959F1AFE" Guid="{A7B0F183-EC2C-4D5F-B560-74B58676B691}">
                            <File Id="fil53099BF869D7C8678C5F6A4332B2D160" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\call_end.svg" />
                        </Component>
                        <Component Id="cmpB51F47CD8F354E7347B4778A24AB9675" Guid="{51FA02B1-2FCB-47BD-B1A6-C957922A5E94}">
                            <File Id="filB926ECB59ED96F384BB13DCCC9F84CE8" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\call_wait.svg" />
                        </Component>
                        <Component Id="cmpC2F59E9B9588E7D681642A631EED5994" Guid="{846A06F3-F7A6-48B8-A9FE-B5ADDBF92E56}">
                            <File Id="fil62DF30F5EB519D107D636FE0F013E857" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\chat.svg" />
                        </Component>
                        <Component Id="cmp7CED50E47071F6C4115F1DF64B56C29B" Guid="{4264A6FC-6EDF-4ABD-88FC-B181225304EC}">
                            <File Id="fil74974B2DC7F77E7F663D0409B8940EC6" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\chat2.svg" />
                        </Component>
                        <Component Id="cmpF50D8EEFCDF6718F0434235711C35BAA" Guid="{E019C6C7-2466-42E4-B5B4-A2530C176F0D}">
                            <File Id="filED44EDBA2BB3B0DB39A7753DACA049D5" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\checkbox-outline.svg" />
                        </Component>
                        <Component Id="cmpE8E781F145371454DD7F30AEB3698A51" Guid="{D4B4FE09-36FB-4A8E-870F-978A22C3A695}">
                            <File Id="fil67E743A3A279E8A4484DEC6F28E7B8BA" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\chevron_up_chevron_down.svg" />
                        </Component>
                        <Component Id="cmp40FDF6CABAE6D0B270E372273CAC9240" Guid="{B4B523BA-5CF9-4068-90B7-EAF6E8405648}">
                            <File Id="filB7CF6AB14C65255EAA4528D36760ABE6" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\close.svg" />
                        </Component>
                        <Component Id="cmp9FC60B82CF632FD08C3FEF09A6B14675" Guid="{9DCAD1C6-2B78-4F5C-BBDD-DD5D2EC5C07D}">
                            <File Id="fil91316B8FD0F95A430513807C17E46396" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\device_group.ttf" />
                        </Component>
                        <Component Id="cmpADA96A935381696DA037094D40895D19" Guid="{C62700B3-84C9-457A-A2F4-708638DA4F57}">
                            <File Id="filB0B2055CD18F40E73921D815C7C73DB1" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\display.svg" />
                        </Component>
                        <Component Id="cmp47B6EACC8EF5575AB6AA9AAA4AA5C34E" Guid="{C37AAA5B-1169-4829-A0B4-CDD919E5B71F}">
                            <File Id="fil8BA61B190CA1983BB74851EFDBFB1D67" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\dots.svg" />
                        </Component>
                        <Component Id="cmp2B4734397B0D451C054DC1417C2C0ACC" Guid="{CF74EC6B-C004-49F6-B606-06D86E83ED0D}">
                            <File Id="fil66F07DAF0E76315F98AEB4BCE11F063B" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\file.svg" />
                        </Component>
                        <Component Id="cmp2A3B5AF2E9A6330D6A3E98B8430AA0AA" Guid="{87D80008-E3BC-40B5-B6A9-BB00057779B5}">
                            <File Id="fil9A6C8C64231AC4C0D8A22B30D8DBAF84" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\file_transfer.svg" />
                        </Component>
                        <Component Id="cmpA81520D86B7303E7115B9792BFAF49D9" Guid="{B2A3389E-51C6-46A3-9B93-522163EA280F}">
                            <File Id="fil7AE9F4D756BC0C49B343FBBCDD9DAA91" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\folder.svg" />
                        </Component>
                        <Component Id="cmp432C5F89E72F366603F7C9F2CEFCD3BD" Guid="{EC63EF1C-BF09-4BA1-8D71-04A401FA3322}">
                            <File Id="fil57971A2093C60BB54E398B4A8ED813EA" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\folder_new.svg" />
                        </Component>
                        <Component Id="cmpFC8A5769461C691208DA885EB8BBC2BC" Guid="{98539B00-5F4F-4510-8BF2-01369BBE7BDE}">
                            <File Id="fil2AEDBB76CD394B43F63ED3B1C67B2FAE" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\fullscreen.svg" />
                        </Component>
                        <Component Id="cmp841C7749E19CD5239777B9ACF98F53F5" Guid="{8679B7EA-B63E-4BB5-ADB4-69C43FABCCD6}">
                            <File Id="fil7D6C13CBAA1CF2613D3EA1D0BD75C789" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\fullscreen_exit.svg" />
                        </Component>
                        <Component Id="cmpE9CE276373CDAED94144ED985869995E" Guid="{7BAAD3C0-0B5F-4E3B-AD76-262C99A1081F}">
                            <File Id="fil7ED7B86E9CFDF2BEFC5FB872D8FE5C90" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\gestures.ttf" />
                        </Component>
                        <Component Id="cmpDEB937FF4771E02D9A714994F01935FC" Guid="{C2E3C7F0-83A9-40CA-B233-3DE0CB4D5A2F}">
                            <File Id="fil288200F073D1C48959DEF1647DFDD544" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\home.svg" />
                        </Component>
                        <Component Id="cmp56FB7E62A3E36F763EE23311BEA4257B" Guid="{CC28A2E4-43C5-47B6-AB47-9E486C88760A}">
                            <File Id="fil81068460EF0E2EADB3F81C545820AFA0" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\icon.png" />
                        </Component>
                        <Component Id="cmp941FC27A44C366F85B3AFD610A820AF6" Guid="{98F32919-8F19-439C-8706-C5CCC5DFCF6E}">
                            <File Id="fil79DA34B999635A20E264EA277582ED0B" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\icon.svg" />
                        </Component>
                        <Component Id="cmp29E36E82147B8C3ED3F7EAD037FF14F8" Guid="{48D7F19A-9534-452E-BC61-511C9E206929}">
                            <File Id="fil9AA14309688586CDA5E489AFDC375CD0" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\insecure.svg" />
                        </Component>
                        <Component Id="cmpC5998ACC88E1EA09BDEC33BA300C90F0" Guid="{C5644406-590D-4318-A6B8-4744F6C00055}">
                            <File Id="fil412DB1945F4DC85B68C395B3771A2283" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\insecure_relay.svg" />
                        </Component>
                        <Component Id="cmpA950D9282478F9D9937F015F2AB37C19" Guid="{9B7C1957-5885-4C3E-BBC6-7C07278797E2}">
                            <File Id="fil7BD7E79C67BDD3560B491D27685A4575" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\kb_layout_iso.svg" />
                        </Component>
                        <Component Id="cmpE83D6266C0F68EC81775E5C4826E5B8B" Guid="{17519E6F-E9A1-4F63-95B4-CCDDA1D97283}">
                            <File Id="fil16F85A39F0097A8A56FF5449C31816F9" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\kb_layout_not_iso.svg" />
                        </Component>
                        <Component Id="cmpF12B19CBC73C7878DD92B6A2A00CF86F" Guid="{3A9A38AB-13CD-499F-95AC-696ADB53853C}">
                            <File Id="filD6046F3290AFBF19F89C1FD1457DD387" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\keyboard_mouse.svg" />
                        </Component>
                        <Component Id="cmp9DC12B34F0F1EB9C24C40F4FBD7D2F00" Guid="{832D2135-3766-414B-B523-24C82F0A4145}">
                            <File Id="fil49080DC239668A812DA534A24C1135E9" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\linux.svg" />
                        </Component>
                        <Component Id="cmp4272783069284D4EC162948E6D07655E" Guid="{3FA458E0-9B25-40DE-B3D9-A8B5CC765BCF}">
                            <File Id="fil1848C43C2133BE22FACF36A1A23AA105" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\logo.png" />
                        </Component>
                        <Component Id="cmp6121C094197D8B8F69D26F84166F02B3" Guid="{BBAFB378-4638-4D1C-BD80-BD6B344DFE68}">
                            <File Id="fil1DEBB3B6A68303B183FCA6B5CAEDE109" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\logo_dark.png" />
                        </Component>
                        <Component Id="cmp98BF9CD31D24B951D89B1AC84831AC3A" Guid="{DA2D92E9-7684-45C3-9380-FB8C99DB1816}">
                            <File Id="fil822171A4AB8BC8D03F6D9EB547C81CF0" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\logo_light.png" />
                        </Component>
                        <Component Id="cmp3FFD1AD08BEE8352504F42C36EC0DFC4" Guid="{81536632-B521-45E3-A1F0-97715FA2B82F}">
                            <File Id="filB7D6C9923C9CA243FBE0D61BF10E392E" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\mac.svg" />
                        </Component>
                        <Component Id="cmp6FD5B91AA6EBE1D73989C5E70430C08A" Guid="{FCCF84FC-7907-4592-9BA2-BD9AFF98E180}">
                            <File Id="fil445DFF8E726E46A8D64C909494BB4681" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\message_24dp_5F6368.svg" />
                        </Component>
                        <Component Id="cmpA56F1AA3521F00A19BBFF059BA0CE91C" Guid="{32B85E0C-A946-4996-8FC0-7B051F9A1F9B}">
                            <File Id="fil124604ED1B36A4D6FF222C57042128B6" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\more.ttf" />
                        </Component>
                        <Component Id="cmp856C66705E8E89009C748DA594E4DB8D" Guid="{35B6E910-61F9-412C-BA55-C681822E99AD}">
                            <File Id="fil71EFD4C7E620A1B29634E61D8DEBF56E" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\peer_searchbar.ttf" />
                        </Component>
                        <Component Id="cmpE4F837320BD5FD0F5AA34EDFD3F50BC3" Guid="{A39ECC6F-EEDF-43B9-97F7-057EE5F8BE63}">
                            <File Id="filA311156C2FCD4055C6AE9CEC0B542315" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\pinned.svg" />
                        </Component>
                        <Component Id="cmp3BA9660144FDD0CED629042A3575A46E" Guid="{DF12D4E9-515B-4855-BB26-DD9C15783DCF}">
                            <File Id="fil00F8BF743C8199BFB5C79FF5F386648C" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\rec.svg" />
                        </Component>
                        <Component Id="cmpCB00F6110854AF0BF6C2B466E2819EC8" Guid="{B13C9497-FA55-43BB-830A-0E61E6D4DC26}">
                            <File Id="filF8A422C1218037BB7570A06981A0E502" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\record_screen.svg" />
                        </Component>
                        <Component Id="cmpFA2D45F827280CA0E10CF88C37A903C9" Guid="{1F8A5C2A-04A5-4BED-AABC-452EB5E0B413}">
                            <File Id="filB966D5749DDE79D893F3237C77E7EEED" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\refresh.svg" />
                        </Component>
                        <Component Id="cmp965F7AD1C174C3C0FD8A84B2FDF3850F" Guid="{DC5952E2-3CA0-4CB4-9858-80FA27FB1DFE}">
                            <File Id="filA7BF64A088D3816216AE97422E5312DE" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\scam.png" />
                        </Component>
                        <Component Id="cmp6C0A623DC7DE37C36DA24285D53A3A2D" Guid="{5C9AB32A-F36C-4FA7-A80E-EA319EB734A4}">
                            <File Id="fil477BFC11E01A497A49FED17AA857403C" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\screen.svg" />
                        </Component>
                        <Component Id="cmp52FDDC7E3C1A30C3F161A81E0555B6FE" Guid="{FF4A08D3-866B-440A-843B-3A16CCDE8CED}">
                            <File Id="filFFE8FC102AB60AED1155E025C6E4618C" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\search.svg" />
                        </Component>
                        <Component Id="cmp2980B17461D01D06C99981C9156AE3D7" Guid="{33CFEF40-E54E-4598-AD4B-62159FE4ECC8}">
                            <File Id="filCEDFB0D2E1B03DA68E3B75A95CF63C6E" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\secure.svg" />
                        </Component>
                        <Component Id="cmpC3739B5AB1451EED0B27ABBAC9BC8303" Guid="{042D0634-BF53-43BB-860A-E84EF81380BA}">
                            <File Id="fil5E679F96733B65787EAC4C9DB510E3FE" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\secure_relay.svg" />
                        </Component>
                        <Component Id="cmp44C91F3A4744F3997BBBE0A1A0161D3A" Guid="{825DCF56-D3B5-401F-BCE6-7895095B90FB}">
                            <File Id="fil8FBF4E1A54B8F4720D0F8F67F78C0582" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\tabbar.ttf" />
                        </Component>
                        <Component Id="cmp553F2142A9235F6B37EE2C6FBE1525C0" Guid="{168FC3E6-DA91-4034-ACDC-917EB3486824}">
                            <File Id="fil40BADE607C7BDE83A0F344183CE25B89" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\transfer.svg" />
                        </Component>
                        <Component Id="cmp2981CD6DCFA00C13ADED066D4FB88A9D" Guid="{1B71370E-0896-40EA-A86A-69A05D375A41}">
                            <File Id="filE46809FBB42980C8FDB1F9BE19BD8BB4" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\trash.svg" />
                        </Component>
                        <Component Id="cmpAC053B1C56E5599DB437B35AC112E58E" Guid="{2D395CD0-31EB-4895-8801-A5F01DC830C3}">
                            <File Id="fil6C64A4EA4B8F424CFB93796417B708D8" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\unpinned.svg" />
                        </Component>
                        <Component Id="cmp75649852A3A89DFFE3AEA8ED193E8356" Guid="{912632A3-F6C9-45F1-84F2-FB9E94AF3F6B}">
                            <File Id="filD7BCCD12A9846C86F453349A6168BB7F" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\voice_call.svg" />
                        </Component>
                        <Component Id="cmp2B044C5AD1F0448179E072018EDEE25F" Guid="{B288E70B-B625-40C6-BE45-46A0E43116BC}">
                            <File Id="filBD7CAB68C2821EA36EFBE828F1F84F13" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\voice_call_waiting.svg" />
                        </Component>
                        <Component Id="cmp4E357CED2326EFF1A73DDB1BBCCAAB71" Guid="{DAEB077D-FB14-4612-AD56-C8241FA00025}">
                            <File Id="fil79BB237F7EF4AFAAE9E74B88AFC29E89" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\win.svg" />
                        </Component>
                    </Directory>
                    <Directory Id="dirE2A82CA30E4E1381D520C8FF40996653" Name="fonts">
                        <Component Id="cmp9475753282C5250DEC233DF924257EDD" Guid="{98AC6104-DF3D-4EB2-ACB1-C871CE3DDCF4}">
                            <File Id="fil95709FE501C331265C6CAAD00C2EA783" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\fonts\MaterialIcons-Regular.otf" />
                        </Component>
                    </Directory>
                    <Directory Id="dirE3A5CD763BAF580FDB3696619F614D3F" Name="packages">
                        <Directory Id="dir26A880A4C48EABABEFB76F4F9BE6509F" Name="dash_chat_2">
                            <Directory Id="dir682CC0CEA7EE39F94333655751F35DEA" Name="assets">
                                <Component Id="cmp817EBE9909D17181EDBC1970B60C0448" Guid="{752BE8B3-BA49-4DC7-9D29-58417EE76519}">
                                    <File Id="filB980406954CA80B38034A1D424267A35" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\packages\dash_chat_2\assets\placeholder.png" />
                                </Component>
                                <Component Id="cmp739058925CD5E92BB2DB08ACF5DC675D" Guid="{BDB95F1F-A479-4C5B-83A4-6FE65EC08B40}">
                                    <File Id="fil1DCDCEE20FBFADAC2BA0D28075B7E55D" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\packages\dash_chat_2\assets\profile_placeholder.png" />
                                </Component>
                            </Directory>
                        </Directory>
                        <Directory Id="dir794A47B7D15A33D63F6370D2937DCBD2" Name="flex_color_picker">
                            <Directory Id="dir8B67397669D56FAC3379776F9F1B6F64" Name="assets">
                                <Component Id="cmpB1977A0B9CABDFDBA9044FA7604B477C" Guid="{35924AAB-8EAD-4891-8924-500F6C34E861}">
                                    <File Id="fil47FF0CB25DF21DED3692916C809C05A6" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\packages\flex_color_picker\assets\opacity.png" />
                                </Component>
                            </Directory>
                        </Directory>
                        <Directory Id="dir3D4B0F90BD0045CFF70352D459F31386" Name="wakelock_plus">
                            <Directory Id="dir2BCD4EA8284625AF818A43D7D5D9E2FF" Name="assets">
                                <Component Id="cmpA55BE71F05C42DBABFC310558A136E73" Guid="{27D69FA2-C8A3-4CA1-9BAE-BC6E04D41442}">
                                    <File Id="filA488ED451B429696D4B764A2BF9D008E" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\packages\wakelock_plus\assets\no_sleep.js" />
                                </Component>
                            </Directory>
                        </Directory>
                        <Directory Id="dir76993AEF82FE6B16ABCBC8039CB696BC" Name="window_manager">
                            <Directory Id="dirA60AD7FF5E838611FEDF9115DB041B6A" Name="images">
                                <Component Id="cmp8DF768FC920D09B64191181F68492C64" Guid="{C3199A82-B9EA-4089-BCC0-9CA097227B1A}">
                                    <File Id="fil99F7CB641600398B5BF5C01BF8622122" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\packages\window_manager\images\ic_chrome_close.png" />
                                </Component>
                                <Component Id="cmp990E936D8AC6A78698AAD92A36E67CD2" Guid="{A38B4393-0817-4039-AD56-27C668F4D148}">
                                    <File Id="filE2354ACBC256062FF3130197DA427EBD" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\packages\window_manager\images\ic_chrome_maximize.png" />
                                </Component>
                                <Component Id="cmpECBC23ADEC529A04B12090B2C1EA924D" Guid="{426FA77D-735A-4414-9E01-2FCEADB5C368}">
                                    <File Id="filE8C7E6BCADDA13E0C6354B630A68012E" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\packages\window_manager\images\ic_chrome_minimize.png" />
                                </Component>
                                <Component Id="cmpEBAC1ACA0F746E752314A795635B427F" Guid="{A12B4A33-0B86-47EB-A7D0-025281B2B6D1}">
                                    <File Id="filBB10649E6C8E54DB790FB81ED36ED3A6" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\packages\window_manager\images\ic_chrome_unmaximize.png" />
                                </Component>
                            </Directory>
                        </Directory>
                    </Directory>
                    <Directory Id="dir5C01D37FD138B424B270832E735CB541" Name="shaders">
                        <Component Id="cmpB754D63122F49081C0DAAE0074FBD9C1" Guid="{D8B6EA3F-5E80-4174-B28C-170E9110C85E}">
                            <File Id="filFA5374F8D6DDBC810796AB1AB906FB74" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\shaders\ink_sparkle.frag" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="AppFiles">
            <ComponentRef Id="cmpBC647A18D3A9561236B9803E15E14E2B" />
            <ComponentRef Id="cmp2CD06D85712105D7F5156BF1A0845776" />
            <ComponentRef Id="cmp012F7070E69EFF4320E139815882BEE5" />
            <ComponentRef Id="cmpE625E77F522637C094C5867D5E084A27" />
            <ComponentRef Id="cmpF6746A9DA97FD0A8BEB6B4AD93DBAF2E" />
            <ComponentRef Id="cmp56CF220A0F2463F9A5E85A05D1E79C99" />
            <ComponentRef Id="cmpDC22F85144003CB2F05080B8CF79FC46" />
            <ComponentRef Id="cmp6008A86AE138BD45314608B385266AA3" />
            <ComponentRef Id="cmpFC51E889A92B742B5F953C34F614A7BE" />
            <ComponentRef Id="cmp8C7A5EF348AC51FD578F34C2A1C2B80F" />
            <ComponentRef Id="cmpE1F819E9F0DE12052216D6D9563E4EF5" />
            <ComponentRef Id="cmp847F16B6E444F4EF34D3DE5F4DDAA8F5" />
            <ComponentRef Id="cmpD25B21823450CD471774673B7AA06196" />
            <ComponentRef Id="cmp39E7414C8679E28554E4A9F5B3298D3E" />
            <ComponentRef Id="cmp70D7EF34E9B6D1081400F0FC7644524D" />
            <ComponentRef Id="cmp9320B2F1ACD0D9B220E969B0442D1F9A" />
            <ComponentRef Id="cmpCF83D7D65587D05A151D1E25702E167F" />
            <ComponentRef Id="cmp0E0DCB81807E433F9DBCEB0D089B25B5" />
            <ComponentRef Id="cmp362972CB336FCADAB6FAD4E58ABB50C0" />
            <ComponentRef Id="cmp75131C7E850BF8649161906B63E97A22" />
            <ComponentRef Id="cmp7A9B0136F23F84A4A09D4D0E28D8636B" />
            <ComponentRef Id="cmpB22BCD9EFB853D38668ABE777CBF404C" />
            <ComponentRef Id="cmpFC3A9316ED9D9116B46026B5A826B913" />
            <ComponentRef Id="cmp303A5E6DB9A0CE90998A41CEB471A8C4" />
            <ComponentRef Id="cmpD4AEF1470FD61357A2E2205A45DB63BF" />
            <ComponentRef Id="cmp797820820658C411885E88C12C118207" />
            <ComponentRef Id="cmp2E9A8FCD545C30F56CBE08A3D839132A" />
            <ComponentRef Id="cmpACF7BDD1B686F6CCA987B5EAE673B3C2" />
            <ComponentRef Id="cmpB55EDE3E4717355AF15F837FF295355F" />
            <ComponentRef Id="cmp87A9F420A671CC11219370D7FCE956B7" />
            <ComponentRef Id="cmp5EFE10D1A68ABCA2FABFD2F601A1852F" />
            <ComponentRef Id="cmp69A5563A7209361F31B764F3FB7747E0" />
            <ComponentRef Id="cmp541AF6AC3273C961D79621A80DE3EA8A" />
            <ComponentRef Id="cmp7FF20A791C94077A642B58F9ABBA598F" />
            <ComponentRef Id="cmpDB25609E27145257EF626FE7C287A443" />
            <ComponentRef Id="cmp285EF11CE0FBA59393F31FA657A019C2" />
            <ComponentRef Id="cmpAE0AD68E7F48A5B8B7C84E7D959F1AFE" />
            <ComponentRef Id="cmpB51F47CD8F354E7347B4778A24AB9675" />
            <ComponentRef Id="cmpC2F59E9B9588E7D681642A631EED5994" />
            <ComponentRef Id="cmp7CED50E47071F6C4115F1DF64B56C29B" />
            <ComponentRef Id="cmpF50D8EEFCDF6718F0434235711C35BAA" />
            <ComponentRef Id="cmpE8E781F145371454DD7F30AEB3698A51" />
            <ComponentRef Id="cmp40FDF6CABAE6D0B270E372273CAC9240" />
            <ComponentRef Id="cmp9FC60B82CF632FD08C3FEF09A6B14675" />
            <ComponentRef Id="cmpADA96A935381696DA037094D40895D19" />
            <ComponentRef Id="cmp47B6EACC8EF5575AB6AA9AAA4AA5C34E" />
            <ComponentRef Id="cmp2B4734397B0D451C054DC1417C2C0ACC" />
            <ComponentRef Id="cmp2A3B5AF2E9A6330D6A3E98B8430AA0AA" />
            <ComponentRef Id="cmpA81520D86B7303E7115B9792BFAF49D9" />
            <ComponentRef Id="cmp432C5F89E72F366603F7C9F2CEFCD3BD" />
            <ComponentRef Id="cmpFC8A5769461C691208DA885EB8BBC2BC" />
            <ComponentRef Id="cmp841C7749E19CD5239777B9ACF98F53F5" />
            <ComponentRef Id="cmpE9CE276373CDAED94144ED985869995E" />
            <ComponentRef Id="cmpDEB937FF4771E02D9A714994F01935FC" />
            <ComponentRef Id="cmp56FB7E62A3E36F763EE23311BEA4257B" />
            <ComponentRef Id="cmp941FC27A44C366F85B3AFD610A820AF6" />
            <ComponentRef Id="cmp29E36E82147B8C3ED3F7EAD037FF14F8" />
            <ComponentRef Id="cmpC5998ACC88E1EA09BDEC33BA300C90F0" />
            <ComponentRef Id="cmpA950D9282478F9D9937F015F2AB37C19" />
            <ComponentRef Id="cmpE83D6266C0F68EC81775E5C4826E5B8B" />
            <ComponentRef Id="cmpF12B19CBC73C7878DD92B6A2A00CF86F" />
            <ComponentRef Id="cmp9DC12B34F0F1EB9C24C40F4FBD7D2F00" />
            <ComponentRef Id="cmp4272783069284D4EC162948E6D07655E" />
            <ComponentRef Id="cmp6121C094197D8B8F69D26F84166F02B3" />
            <ComponentRef Id="cmp98BF9CD31D24B951D89B1AC84831AC3A" />
            <ComponentRef Id="cmp3FFD1AD08BEE8352504F42C36EC0DFC4" />
            <ComponentRef Id="cmp6FD5B91AA6EBE1D73989C5E70430C08A" />
            <ComponentRef Id="cmpA56F1AA3521F00A19BBFF059BA0CE91C" />
            <ComponentRef Id="cmp856C66705E8E89009C748DA594E4DB8D" />
            <ComponentRef Id="cmpE4F837320BD5FD0F5AA34EDFD3F50BC3" />
            <ComponentRef Id="cmp3BA9660144FDD0CED629042A3575A46E" />
            <ComponentRef Id="cmpCB00F6110854AF0BF6C2B466E2819EC8" />
            <ComponentRef Id="cmpFA2D45F827280CA0E10CF88C37A903C9" />
            <ComponentRef Id="cmp965F7AD1C174C3C0FD8A84B2FDF3850F" />
            <ComponentRef Id="cmp6C0A623DC7DE37C36DA24285D53A3A2D" />
            <ComponentRef Id="cmp52FDDC7E3C1A30C3F161A81E0555B6FE" />
            <ComponentRef Id="cmp2980B17461D01D06C99981C9156AE3D7" />
            <ComponentRef Id="cmpC3739B5AB1451EED0B27ABBAC9BC8303" />
            <ComponentRef Id="cmp44C91F3A4744F3997BBBE0A1A0161D3A" />
            <ComponentRef Id="cmp553F2142A9235F6B37EE2C6FBE1525C0" />
            <ComponentRef Id="cmp2981CD6DCFA00C13ADED066D4FB88A9D" />
            <ComponentRef Id="cmpAC053B1C56E5599DB437B35AC112E58E" />
            <ComponentRef Id="cmp75649852A3A89DFFE3AEA8ED193E8356" />
            <ComponentRef Id="cmp2B044C5AD1F0448179E072018EDEE25F" />
            <ComponentRef Id="cmp4E357CED2326EFF1A73DDB1BBCCAAB71" />
            <ComponentRef Id="cmp9475753282C5250DEC233DF924257EDD" />
            <ComponentRef Id="cmp817EBE9909D17181EDBC1970B60C0448" />
            <ComponentRef Id="cmp739058925CD5E92BB2DB08ACF5DC675D" />
            <ComponentRef Id="cmpB1977A0B9CABDFDBA9044FA7604B477C" />
            <ComponentRef Id="cmpA55BE71F05C42DBABFC310558A136E73" />
            <ComponentRef Id="cmp8DF768FC920D09B64191181F68492C64" />
            <ComponentRef Id="cmp990E936D8AC6A78698AAD92A36E67CD2" />
            <ComponentRef Id="cmpECBC23ADEC529A04B12090B2C1EA924D" />
            <ComponentRef Id="cmpEBAC1ACA0F746E752314A795635B427F" />
            <ComponentRef Id="cmpB754D63122F49081C0DAAE0074FBD9C1" />
        </ComponentGroup>
    </Fragment>
</Wix>
